* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  background: #f3f5fc;
}
img {
  margin-top: 3rem;
}
div.container {
  margin-bottom: -50px;
}
.quadro {
  /* Rectangle 1 */
  position: absolute;
  width: 300px;
  height: 650px;
  left: 980px;
  top: 18px;
  background: #ffffff;
  /* shadow */
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
.mensagem {
    /* geral */
  width: 297px;
  height: 506px;
  margin-top: 2rem;
  /* text */
  /* text-align: center; */
  text-align: justify;
  font-weight: 100;
  font-size: 38px;
  /* img */
  background-image: url(img/m.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  border: none;
  background-size: contain;
  background-position: center;
}
textarea.mensagem::placeholder {
  color: #0a3871;
  /* font-style: italic; */
  text-align: center;
  font-weight: 400;
  font-size: 32px;
}
.button {
  margin-left: 15rem;
}
button.encriptar,
button.desencriptar {
  /* color */
  border-color: #0a3871;
  /* geral */
  width: 20rem;
  border-radius: 1rem;
  justify-content: center;
  /* centralizar conteúdo */
  padding-top: 10px;
  padding-bottom: 6px;
  padding-left: 10px;
  /* font */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
}
.encriptar{
  border-color: black;
    background-color: #0A3871;
    color:rgb(252, 252, 252);
}
button.copiar {
  margin-left: 35px;
}
.copiar {
  /* centralizar conteudo */
  padding-top: 10px;
  padding-bottom: 6px;
  /*geral  */
  margin-top: 28px;
  width: 15rem;
  border-radius: 1rem;
  /* color */
  color: #0a3871;
  border-color: #0a3871;
  /* font */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

.texto {
  /* geral */
  margin-left: 15rem;
  /* font */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
}
#alert {
  padding-top: 10px;
  width: 26px;
  margin-top: 2px;
}
textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
textarea::placeholder {
  color: #0a3871;
}
textarea.input-texto {
  /* quadro */
  border-color: #f3f5fc;
  background: #f3f5fc;
  margin-left: 10rem;
  left: 700px;
  height: 441px;
  width: 749px;
}
.input-texto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #0a3871;
}


